<section class="footer type_two ">
               <div class="footer_layer" style="background-image: url(assets/image/resources/footer-bg1.png);"></div>
               <div class="container ">
                  <div class="row ">
                     <div class="col-lg-3 col-xs-12 ">
                        <div class="footer_widgets tp_two first "><br>
                           <h3 class="widgets_title logo ">
                              <a href="index.html "><img src="{{ url_for('static',filename='assets/image/logo.png') }}" class="img-fluid " alt="logo "></a>
                           </h3>
                           <div class="inner_widgets ">
                              <p>Breast cancer is a common term for a cancerous (malignant) tumor that starts in the cells that line the ducts and/or lobes of the breast.
                              </p>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="footer_widgets tp_two ">
                           <h3 class="widgets_title ">Usefull links</h3>
                           <div class="inner_widgets ">
                              <ul>
                                 <li><a href="/prevention">Prevention</a></li>
                                 <li><a href="/detection">Predict</a></li>
                                 <li><a href="/faq">FAQ's</a></li>
                                 <li><a href="/about">About</a></li>
                                 <li><a href="/contact">Contact</a></li>
                              </ul>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-6 col-xs-12 ">
                        <div class="footer_widgets tp_two ">
                           <h3 class="widgets_title ">Contact us</h3>
                           <div class="inner_widgets ">
                              <div class="text_box ">
                                 <span class="fa fa-map-marker"></span>
                                 <p>xxxxxxxx xxxxx xxxxx.</p>
                              </div>
                              <div class="text_box ">
                                 <span class="fa fa-phone"></span>
                                 <p>+000000000</p>
                              </div>
                              <div class="text_box ">
                                 <span class="fa fa-clock-o"></span>
                                 <p>Mon - Fri: 09.00 to 18.00</p>
                              </div>
                              <div class="text_box ">
                                 <span class="fa fa-envelope"></span>
                                 <p>womaninpink@gmail.com</p>
                              </div>
                           </div>
                        </div>
                     </div>
                     <div class="col-lg-3 col-md-4 col-sm-12 col-xs-12 ">
                        <div class="footer_widgets tp_two ">
                           <h3 class="widgets_title ">Newsletter</h3>
                           <div class="inner_widgets ">
                              <p class="sub_description ">Subscribe Us &amp; Recive Our Offers and Updates i Your Inbox Directly.</p>
                              <form action="/subscribe" method="post">
                                 <input type="email" name="email" placeholder="Email Address... " />
                                 <button class="sub_btn" type="submit"><span class="flaticon-paper-plane "></span></button>
                              </form>
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="footer_last type_two ">
                     <div class="row ">
                        <div class="col-lg-12 text-center ">
                           <p>Copyright © 2020 Woman in Pink. All Rights Reserved.</p>
                        </div>
                     </div>
                  </div>
               </div>
            </section>