<section class="navbar_outer">
               <div class="navbar navbar-expand-lg  bsnav bsnav-sticky bsnav-sticky-slide">
                  <div class="container">
                     <a class="navbar-brand" href="/"><img src="{{ url_for('static',filename='assets/image/logo.png') }}" class="img-fluid" alt="img"></a>
                     <button class="navbar-toggler toggler-spring"><span class="navbar-toggler-icon"></span></button>
                     <div class="collapse navbar-collapse scroll-nav">
                        <ul class="navbar-nav navbar-mobile navbar_left  ml-auto" id="nav">
                           <li class="nav-item nav_item">
                              <a class="nav-link link_hd" href="/">  Home  </a>
                           </li>

                            <li class="nav-item nav_item dropdown">
                              <a class="nav-link link_hd" href="#">  About  </a>
                              <ul class="navbar-nav submenu">
                                 <li class="nav-item"><a class="nav-link" href="/about">What is Breast Cancer?</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/types">Types</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/stages">Stages</a></li>
                              </ul>
                           </li>
                           <li class="nav-item nav_item">
                              <a class="nav-link link_hd" href="/diagnosis">  Diagnosis  </a>
                           </li>
                           <li class="nav-item nav_item">
                              <a class="nav-link link_hd" href="/prevention">  Prevention  </a>
                           </li>
                           <li class="nav-item nav_item dropdown">
                              <a class="nav-link link_hd" href="#">  Predict  </a>
                              <ul class="navbar-nav submenu">
                                 <li class="nav-item"><a class="nav-link" href="/histopathology">Histopathology</a></li>
                                 <li class="nav-item"><a class="nav-link" href="/feature_based">Feature Based</a></li>
                              </ul>
                           </li>
                           <li class="nav-item nav_item">
                              <a class="nav-link link_hd" href="/facts">  Facts  </a>
                           </li>
                           <li class="nav-item nav_item"><a class="nav-link link_hd" href="/faq">Faq's</a></li>
                           <li class="nav-item nav_item"><a class="nav-link link_hd" href="/contact">Contact</a></li>
                        </ul>
                        <ul class="navbar-nav navbar-mobile navbar_right">
                           <li class="nav-item  dropdown">
                              <a href="#" class="topbar-one__search search-popup__toggler"><i class="flaticon-search icon"></i></a>
                           </li>
                           <li class="nav-item  dropdown">
                              <!-- /.site-header__cart -->
                              <a href="#" class="site-header__sidemenu-nav side-menu__toggler">
                                 <span class="site-header__sidemenu-nav-line"></span>
                                 <!-- /.site-header__sidemenu-nav-line -->
                                 <span class="site-header__sidemenu-nav-line"></span>
                                 <!-- /.site-header__sidemenu-nav-line -->
                                 <span class="site-header__sidemenu-nav-line"></span>
                                 <!-- /.site-header__sidemenu-nav-line -->
                                 <!-- /.site-header__sidemenu -->
                              </a>
                           </li>
                        </ul>
                     </div>
                  </div>
               </div>
            </section>